.item-edit {
  width: 30%;
  padding: 1rem 1rem 0 1rem;
  border-radius: 3px;
  min-width: fit-content;
  text-align: center;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;

  .item-edit-form__close-btn {
    width: 20px;
    height: 20px;
    background-image: url("@/assets/close-icon.svg");
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  &-form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    min-width: 280px;
    flex-grow: 1;

    &__save-btn {
      width: 21px;
      height: 18px;
      background-image: url("@/assets/save-icon.svg");
      align-self: self-end;
      margin-top: 30px;
    }

    &__inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      justify-content: center;
    }

    &__input {
      border: unset;
      border-bottom: 1px solid #E3E3E5;
      padding-bottom: 22px;
      color: #B1B0B8;
      font-size: 15px;
      flex-grow: 1;
      font-family: 'Inter', Sans-Serif;

      &::placeholder {
        color: #B1B0B8;
      }

      &:focus {
        outline: none;
      }
    }

    .el-select {
      align-self: self-start;
    }

    &__textarea {
      width: 100%;
      resize: none;
      border: unset;
      padding-bottom: 22px;
      color: #B1B0B8;
      font-size: 15px;
      height: 35%;
      font-family: 'Inter', Sans-Serif;

      &::placeholder {
        color: #B1B0B8;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      max-width: 65%;
    }
  }

  footer {
    padding-bottom: 73px;
    height: 1px;
    border-top: 1px solid #E3E3E6;
    width: calc(100% + 32px) !important;
    position: relative;
    right: 16px;
  }
}
