.shopping-list__item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
    position: relative;

    &.done {
        background-color: $clr1;
    }

    &:hover {
        cursor: pointer;
    }

    &_icons {
        display: flex;
        gap: 23px;
    }

    &_icon {
        width: 18px;
        height: 18px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &-remove {
            background-image: url("@/assets/remove-icon.svg");
            width: 14px;
        }
        &-edit {
            background-image: url("@/assets/edit-icon.svg");
        }
    }
}
