.shopping-list__item {
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  border-radius: 3px;
  position: relative;
  border-bottom: 1px solid #E3E3E5;
  color: #585666;
  font-size: 15px;

  &.complete {
    color: #B1B0B8;
  }

  &:hover {
    cursor: pointer;
  }

  div.shopping-list__item_idx {
    color: #FF941A;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    padding-right: 9px;
    position: relative;

    div {
      width: 39px;
      height: 32px;
    }

    .shopping-list__item_idx-border-right {
      width: 1px;
      height: 48px;
      background-color: #E3E3E5;
      position: absolute;
      right: 0;
      top: -10px;
    }
  }

  div:not(:first-child) {
    line-height: 18px;
  }

  &_icons {
    display: flex;
    gap: 23px;
  }

  &_icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-remove {
      background-image: url("@/assets/remove-icon.svg");
      width: 14px;
    }

    &-edit {
      background-image: url("@/assets/edit-icon.svg");
    }
  }
}
