.shopping-list-container {
  h1 {
    font-family: "Montserrat Alternates", sans-serif;
    color: #585666;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .shopping-list {
    // Using ul:
    //margin-top: 20px;
    //display: flex;
    //flex-direction: column;
    //gap: 16px;

    // Using table:
    margin-top: 20px;
    width: 100%;
    border-spacing: 0px 15px;

    &__add-button {
      color: #FF941A;
      margin-right: auto;
      margin-top: 50px;
      width: fit-content;
      display: flex;
      align-items: center;

      div:first-child {
        font-weight: 700;
        margin-right: 25px;
        font-family: inherit;
        height: 32px;
        line-height: 30.5px;
        width: 39px;
        font-size: 24px;

        &:hover{
          cursor: pointer;
        }
      }

      button {
        color: #FF941A;
        font-size: 15px;
        font-family: inherit;
      }
    }
  }
}


