::selection {
  background-color: $clr1;
  color: $clr3;
}

* {
  box-sizing: border-box;
}

html {
  line-height: lh(26px);
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  height: 100%;
}

table {
  border-collapse: separate;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 1rem;
  line-height: lh(40px, 29px);
}

h1 {
  font-size: rem(60px);
}

img {
  width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: unset;
  border: unset;
}

button:hover {
  cursor: pointer;
}





